{% extends 'base.html.twig' %}
{% block title %}Войти{% endblock %}
{% block menu %}{% endblock %}

{% block body %}
    <h1 class="ml-5 text-xl mt-5">Войти</h1>
    <form method="post">
        <div class="flex flex-col w-96 m-5">
            <div>
                <label class="block text-sm text-gray-700 font-medium">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email"
                       required autofocus
                       class="block w-full shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2"/>
            </div>
            <div>
                <label class="block text-sm text-gray-700 font-medium">Пароль</label>
                <input type="password" name="password" id="inputPassword" autocomplete="current-password" required
                       class="block w-full shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2"/>
            </div>
            <div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button type="submit" class="btn btn-outline w-full">Войти</button>
                <label class="block mt-1">Нет аккаунта? <a href="{{ path('app_register') }}" class="link">Зарегистрируйтесь</a></label>
            </div>
        </div>
    </form>
    {% if error %}
        <div class="alert alert-error shadow-lg ">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                     viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
                <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </div>
        </div>
    {% endif %}
{% endblock %}
