{% extends 'base.html.twig' %}

{% block title %}Прикладные материалы{% endblock %}

{% block body %}
    {{ include ('material/_material_tabs.html.twig') }}
    {{ include ('material/_material_list.html.twig') }}
    {% if app.user.tags|length == 0 %}
        <div class="flex justify-center items-center">
            <div class="w-3/5 m-5 alert shadow-lg">
                <div>
                    <i class="fa-solid fa-circle-info fa-xl"></i>
                    <span>Чтобы получать более точные рекомендации по объявлениям и группам, укажите Ваши интересы</span>
                </div>
                <div class="flex-none">
                    <a class="btn btn-sm" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Перейти</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}