{% extends 'base.html.twig' %}

{% block title %}Группы{% endblock %}
{% block button %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="flex justify-end">
            <a class="btn mr-2" href="{{ path('app_group_new') }}">Создать группу</a>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ include ('group/_group_tabs.html.twig') }}
    {% endif %}
    {{ include ('group/_group_list.html.twig') }}
{% endblock %}
