{% extends 'base.html.twig' %}

{% block title %}Объявления{% endblock %}
{% block button %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="flex justify-end">
            <a class="btn mr-2" href="{{ path('app_post_show', {'id': app.user.id}) }}">Мои объявления</a>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ include ('post/_post_tabs.html.twig') }}
    {% endif %}
    {{ include ('post/_post_list.html.twig') }}
{% endblock %}
