{% extends 'base.html.twig' %}

{% block title %}Создание объявления{% endblock %}

{% block body %}
    <h1 class="ml-5 text-xl">Создание объявления</h1>
    <div class="flex flex-col w-96 m-5">
        <div class="form-control w-full">
            <form method="post" action="{{ path('app_post_new') }}">
                <label class="block text-sm text-gray-700 font-medium" for="content">
                    Описание
                </label>
                <textarea id="content" name="content" required
                          class="textarea textarea-bordered block w-full shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2"></textarea>
                <label class="block text-sm text-gray-700 font-medium" for="category">
                    Категория
                </label>
                <select id="category" name='category' required
                        class="select select-bordered block w-full shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2">
                    <option disabled selected>Выберите категорию</option>
                    {% for category in categories %}
                        <option value={{ category.id }}>{{ category.name }}</option>
                    {% endfor %}
                </select>
                <label class="block text-sm text-gray-700 font-medium" for="tags">
                    Теги
                </label>
                <select multiple id="tags" name='tags[]' required
                        class="select select-bordered block w-full shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2">
                    <option disabled selected>Выберите категорию, чтобы увидеть теги</option>
                </select>
                <button type="submit" class="btn btn-outline w-full">Создать</button>
            </form>
        </div>
    </div>
    <script>
        const categorySelect = document.querySelector('select[name="category"]');
        const tagsSelect = document.querySelector('select[name="tags[]"]');

        categorySelect.addEventListener('change', (event) => {
            const categoryId = event.target.value;
            fetch(`/get_tags/${categoryId}`)
                .then((response) => response.json())
                .then((tags) => {
                    tagsSelect.innerHTML = '';
                    tags.forEach((tag) => {
                        const option = document.createElement('option');
                        option.value = tag.id;
                        option.textContent = tag.name;
                        tagsSelect.appendChild(option);
                    });
                })
                .catch((error) => console.error(error));
        });
    </script>
{% endblock %}
