{% extends 'base.html.twig' %}

{% block title %}Создание объявления{% endblock %}

{% block body %}
    <h1 class="ml-5 text-xl">Создание объявления</h1>
    <div class="flex flex-col w-96 m-5">
        <div class="form-control w-full max-w-xs">
            <form method="post" action="{{ path('app_post_new') }}">
                <label class="label">
                    <span class="label-text">Описание</span>
                </label>
                <textarea id="content" name="content" class="textarea textarea-bordered h-24"></textarea>
                <label class="label">
                    <span class="label-text">Категория</span>
                </label>
                <select name='category' required class="select select-bordered">
                    <option disabled selected>Выберите категорию</option>
                    {% for category in categories %}
                        <option value={{ category.id }}>{{ category.name }}</option>
                    {% endfor %}
                </select>
                <label class="label">
                    <span class="label-text">Теги</span>
                </label>
                <select multiple name='tags[]' required class="select select-bordered overflow-hidden">
                    <option disabled selected>Выберите категорию, чтобы увидеть теги</option>
                </select>
                <button type="submit" class="btn btn-outline w-full mt-3">Создать</button>
            </form>
        </div>
    </div>
    <script>
        const categorySelect = document.querySelector('select[name="category"]');
        const tagsSelect = document.querySelector('select[name="tags[]"]');

        categorySelect.addEventListener('change', (event) => {
            const categoryId = event.target.value;
            fetch(`/get_tags/${categoryId}`)
                .then((response) => response.json())
                .then((tags) => {
                    tagsSelect.innerHTML = '';
                    tags.forEach((tag) => {
                        const option = document.createElement('option');
                        option.value = tag.id;
                        option.textContent = tag.name;
                        tagsSelect.appendChild(option);
                    });
                })
                .catch((error) => console.error(error));
        });
    </script>
{% endblock %}
